body {
  background-color: #F5EBE0
}
h1 {
  color: #00337C
}
h3 {
  color: #00337C
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px ;
  width: 20%;
}
